* {
    padding: 0;
    margin: 0;
    font-family: t1, sans-serif;
}

body {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    overflow-x: hidden;
    color: #000;
}

.createur {
    border-radius: 1em;
    border: solid;
    border-width: 1px;
    border-color: #fff;
    margin-left: 40em;
    margin-right: 40em;
    margin-bottom: 1em;
    padding: .5em;
}   

#accueil {

    color: #000;
}

#home {
    background: #3e64ff;
    color: #3e64ff;
}

#navBarre {
    background: #ffe319;
    color: #fff;
    width: calc(100% - 2em);
    margin: -2em -1em 0 -1em;
    padding: 2em;
    display: flex;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid #000;
}

#navBarre div {
    margin: 0 1em;
    width: max-content;
}

#navBarre a {
    color: #fff;
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;

}

.list,
.item {
    margin: 1em 10em;
    background: #b2fcff;
    padding: 1em;
    border-radius: 1em;
}

.item {
    display: flex;
    flex-wrap: wrap;
    height: 40%;
}

.itemContent {
    transform: translateY(-100%);
    display: flex;
    height: 100%;
    width: 100%;
}

li {
    margin-left: 3em;
}

.itemContent img {
    height: 98%;
    width: 98%;
    display: block;
    max-height: 15em;
    object-fit: cover;
    border-radius: 1em;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.num {
    float: left;
    height: inherit;
    font-size: 2em;
    width: 2em;
    height: 1em;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 15px;
    margin-right: 1em;
}

.num_item {
    background: #5edfff;
}

.num_liste {
    background: #5edfff;
}

.description {
    flex: 1;
    min-width: 10em;
    text-align: left;
}


#formulaires {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


a {
    color: black;
    text-decoration: none;
}

.bouton {
    color: #fff;
    background: #2b365c;
    border-radius: 1em;
    padding: .5em 2em;
    margin-top: 3em;
    border: #fff 2px solid;
    margin: 0 1em;
}

.boutonDisabled {
    background-color: black;
}

.bouton:hover {
    background: #5edfff;
    color: #fff;
    transition: 0.5s;
}

div input,
form input {
    padding: 1em;
    background: #fff;
    color: #000;
    border: 0;
    border-bottom: 1px solid #000;
    font-size: 0.8em;
    width: 30%;
    margin: 0.4em;
}

#topBarre {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 3em;
    vertical-align: middle;
    justify-content: right;
    display: flex;
    align-items: center;
}

#topBarre a {
    color: #fff;
}

.small {
    height: 75%;
    padding: 0.5em;
    margin: 0.5em;
}

a.bouton.small {
    background: none;
    border: none;
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.titre {
    font-weight: lighter;
    font-size: 5em;
    padding-top: 1em;
}

form {
    background: #ffe319;
    border-radius: 1em;
    padding: 1em;
    color : #2b365c;
}

#token {
    background: #3e64ff;
    padding: 1em;
    color: #fff;
    margin: 1em;
    border-radius: 1em;
}

.fBlanc {
    color: #000;
    text-decoration: underline;
}

.lienSCouleur {
    color: #000;
    text-decoration: none;
}

#connexion {
    background-image : url("../img/background.jpg");
    color: #fff;
    padding-left: 30%;
    padding-right: 30%;
}

#profilPic {
    width: 10vw;
    height: 100%;
    overflow: hidden;
    border-radius: 5vw;
}

.section {
    padding: 2em;
    background: #b2fcff;
    border-radius: .5em;
}

#infoCompte {
    display: flex;
    text-align: start;
    border-radius: .5em;
}

#infoListe {

    border-radius: .5em;
}
#infoCompte ul {
    list-style: none;
}

#infoListe div {
    display: flex;
}

.info * {
    margin: auto 20px;
}

.info *:nth-child(4n) {
    min-width: 20%;
}

.info:nth-child(n+3) {
    border-top: 1px solid rgb(0, 0, 0);
}

.info {
    padding: 1em 0;
}

progress.info {
    height: 50%;
}

#infoListe h1 {
    margin-bottom: 1em;
}

#infoListe progress {
    margin: 2px 0;
}

.info a:nth-of-type(2) {
    flex: 1;
}

#infoListe li span,
#infoListe li a {
    padding: 0 1em;
    width: fit-content;
}


#infoCompte span {
    right: 2em;
    position: absolute;
}

.disconnect {
    color: #f00 !important;
}

input[type="radio"] {
    width: 1em;
}

.error {
    color: #f00;
}

.formulaire {
    color: #fff;
}

.public {
    background: #0f0a;
}

.priv {
    background: #f00a;
}

.public,
.priv {
    padding: 2px 10px;
    border-radius: 5px;
}

.redBG {
    background: #f00 !important;
}

#message {
    padding: 1em;
    margin-bottom: 1em;
    background: #f00;
    border-radius: 1em;
    border: 0.1em solid #000;
}

.messageListe {
    background: #22283666;
    padding: 1em 0;
    margin: 1em;
}

.prix:after {
    content: "\20AC";
    margin-left: 0.5em;
}

#mainContent {
    margin-top: 4em;
}

#modifListe {
    font-size: xx-large;
    position: absolute;
    top: -1.5em;
    right: 0;
}

.itemReserve{
    margin: 1em 0;
}